body {
  height: 100vh;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-color: lightgray;
}

header {
  width: 100%;
  height: 8vh;
}

.index p {
  margin-left: 32%;
}

header div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  margin: auto;
  justify-content: center;
  height: 100%;
}

footer {
  width: 100%;
  height: 8vh;
}

footer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  margin: auto;
  justify-content: center;
  height: 100%;
}

header div h1 {
  font-size: 6vh;
  color: darkred;
  font-family: helvetica;
}

header div img {
  padding-left: 3vh;
  padding-right: 3vh;
  width: 6vh;
  height: 6vh;
}

@media screen and (max-width: 1000px) {
    .menu {
      display: none;
      visibility: none;
    }
}

@media screen and (max-width: 1400px) {
    header div h1 {
      display: none;
      visibility: hidden;
    }
    header div img {
      display: none;
      visibility: hidden;
    }
}

.home_head {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  margin: auto;
  justify-content: center;
  height: 30vh;
}

.home_head div {
  color: darkred;
  font-family: helvetica;
}

.home_head div h1 {
  font-size: 12vh;
  margin: 0vh;
}

.home_head div h2 {
  font-size: 3vh;
  margin: 0vh;
  padding-left: 5vh;
}

.home_head img {
  padding-left: 3vh;
  padding-right: 3vh;
  width: 25vh;
  height: 25vh;
}

nav a{
  color: darkred;
  text-decoration: none;
  padding: 10px;
  padding-right: 20px;
  border: 1px solid black;
}

nav a:hover{
  background: black;
}

.glossary p a {
  font-weight: bold;
}

.glossary {
  width: 80%;
  margin: auto;
}

iframe {
  width: 100%;
  height: 96vh;
}
